*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 600px;
    background-color: aqua;
    background-image:url("https://img.freepik.com/fotos-premium/planetas-sistema-solar-impresionante-fondo-pantalla-ciencia-ficcion-paisaje-cosmico-elementos-imagen-proporcionada-nasa_112293-932.jpg?w=2000");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
}

header{
    background-color: aqua;
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    padding:10px
}
.logo{
    display: flex;
}
.logo img{
    height: 80px;
}
.etiqueta ul{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    width: 200px;
    background-color: cornflowerblue;
    border: 1px solid black;
}
.etiqueta li{
    text-align: center;
    border-bottom: 1px solid black; 
    float: center;
}
.etiqueta a{
    display: inline-block;
    padding: 8px;
}
.etiqueta li a{
    display: block;
    color: rgb(201, 201, 228);
    text-decoration:none;
    padding: 8px 0 8px 16px;
}
.etiqueta li:last-child{ 
    border-bottom: none;
}
.etiqueta li a:hover{
    background-color: aqua;
    color: crimson;
    font-size: larger;
}
.active{
    background-color: grey;
    color: beige;
}
.container-alt{
    color: rgb(223, 122, 28);
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 60px;
    margin-top: 15px;
    border-top: 6px greenyellow;
}
.sub-title{
        color:rgb(41, 194, 61);
        text-decoration: underline;
        text-decoration: initial;
        letter-spacing: 3px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        text-shadow: 2px 2px 1px red;
}
.container-alt img{
    width: 300px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}
.container-alt p{
    font-size: 18px;
    font-weight: 300;
}
.container-alt li{
    text-align:justify;
    color:rgb(202, 125, 38)
}
footer{
    background-color: aqua;
    width:100%;
    height: 20%; 
    color:rgb(5, 4, 4); 
    text-align:justify; 
    clear: both;
}
